.list {
  position: absolute;
  top: 114px;
  bottom: 3rem;
  left: 0;
  overflow: scroll;
  right: 0;
  flex-direction: column;
  justify-content: center;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.empty-list {
  display: flex;
  height: 100%;
  color: #ccc;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .empty-list-icon {
    font-size: 5rem;
    height: unset;
    width: unset;
  }
}
