.list {
  position: absolute;
  bottom: 0;
  padding-bottom: calc(4.5rem + env(safe-area-inset-bottom, 0px));
  left: 0;
  overflow: scroll;
  right: 0;
  flex-direction: column;
  justify-content: center;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.empty-list {
  display: flex;
  height: 100%;
  color: #ccc;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .empty-list-icon {
    font-size: 5rem;
    height: unset;
    width: unset;
  }
}
