<div class="nav-header mat-elevation-z2">
  <div class="title-actions">
    <div class="left-button">
      <i matRipple *ngIf="!!leftButtonIcon" (click)="leftButtonClicked.emit()"
         [class]="'material-icons md-'+leftButtonIcon"></i>
    </div>

    <div class="title">{{title}}</div>

    <div class="right-button">
      <i matRipple *ngIf="!!rightButtonIcon" (click)="rightButtonClicked.emit()"
         [class]="'material-icons md-'+rightButtonIcon"></i>
    </div>
  </div>

  <div class="type-switcher-container" *ngIf="!!typeSwitcherConfig.enabled">
    <app-type-switcher
      [types]="typeSwitcherConfig.types"
      (typeChanged)="typeChanged.emit($event)">
    </app-type-switcher>
  </div>

</div>
