div {
  display: flex;
}

.nav-header {
  z-index: 3;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  flex-direction: column;

  .title-actions {
    height: 3rem;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .left-button {
      position: absolute;
      left: 1rem;
    }

    .right-button {
      position: absolute;
      right: 1rem;

    }

    .left-button, .right-button {
      i {

        border-radius: 50%;
      }
    }
  }

  .type-switcher-container {
    margin-bottom: 1rem;
  }
}
