@import '~@angular/material/theming';

@mixin app-manage-categories-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .category-list {
    background: mat-color($background, background);
  }

  .delete-button {
    background: mat-color($background, card);
  }

  .draggable-category-item {
    background: mat-color($background, card);
    color: mat-color($foreground, text);

    .category-icon-background {
      background: mat-color($background, app-bar);
    }

    i.md-drag_handle {
      color: mat-color($foreground, secondary-text);
    }
  }

  .category-name-border {
    border-bottom: 1px solid mat-color($foreground, divider);
  }

  .placeholder {
    color: transparent;
    background: mat-color($background, background);
  }
}
