div, form {
  display: flex;
}

.loading {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  background: #a5a5a59e;
  align-items: center;
}

.category-list-container {
  position: absolute;
  top: 6rem;
  bottom: 0;
  left: 0;
  overflow: scroll;
  right: 0;
  flex-direction: column;
}

.category-list {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

// this should put out of .category-list so that it can work when dragging
app-swipeable-item {
  width: 100%;
}

.draggable-category-item {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  cursor: move;

  position: relative;


  .category-icon {
    align-items: center;
    padding: 0.5rem 1rem;

    .category-icon-background {
      padding: 5px;
      border-radius: 50%;
    }
  }

  .category-name {
    flex-grow: 1;
    min-width: 50%;
    align-items: center;

    span {
      width: 100%;
    }

    i.md-drag_handle {
      padding-right: 1rem;
    }
  }
}

.last-margin {
  margin-bottom: 3rem;
}

.float-add-button {
  z-index: 3;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.cdk-drag-preview {
  opacity: 0.8;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .category-name-border {
    border: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 100ms ease;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms ease;
}
