@use '@angular/material' as mat;

@mixin app-user-home-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .user-home-container {
    .user-info-overview {
      background: mat.get-color-from-palette($primary);
      color: mat.get-color-from-palette($primary, default-contrast);
    }

    .features {
      border-top: 1px solid mat.get-color-from-palette($foreground, divider);
      border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);

      .feature {
        background: mat.get-color-from-palette($background, card);

        &:not(:last-of-type) {
          .feature-content {
            border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
          }
        }
      }
    }

    .about {
      color: mat.get-color-from-palette($foreground, secondary-text);

      .github-link {
        mat-icon {
          color: mat.get-color-from-palette($foreground, secondary-text);
        }
      }
    }
  }

}
