<div class="user-home-container">
  <div class="user">
    <div class="profile-photo">
      <img src="https://picsum.photos/70" alt="profile photo">
    </div>

    <div class="user-info" (click)="gotoAccountDetail()">
      <div class="user-name">
        <div>{{user.username}}</div>
        <mat-icon class="edit-icon" *ngIf="user.registered">create</mat-icon>
        <div class="proceed-register" *ngIf="!user.registered">
          <div class="proceed-register-text">立即注册</div>
          <mat-icon class="proceed-icon">keyboard_arrow_right</mat-icon>
        </div>

      </div>

      <div class="statistics">
        <div>开始记账第 {{registeredLength}} 天，共 {{numberOfAllTransactions$|async}} 笔</div>
      </div>
    </div>
  </div>

  <div class="features">
    <div class="feature">
      <mat-icon class="feature-icon">star_half</mat-icon>
      <div class="feature-content">
        <div class="feature-text">黑暗模式</div>
        <mat-slide-toggle class="feature-proceeding-action"></mat-slide-toggle>
      </div>
    </div>

    <div matRipple class="feature">
      <mat-icon class="feature-icon">insert_photo</mat-icon>
      <div class="feature-content">
        <div class="feature-text">
          选择主题
        </div>
        <mat-icon class="feature-proceeding-action">keyboard_arrow_right</mat-icon>

      </div>
    </div>

    <div matRipple class="feature">
      <mat-icon class="feature-icon">email</mat-icon>
      <div class="feature-content">
        <div class="feature-text">
          反馈意见
        </div>
      </div>
    </div>
  </div>

  <div class="features">
    <div matRipple class="feature" (click)="logout()">
      <mat-icon class="feature-icon">exit_to_app</mat-icon>
      <div class="feature-content">
        <div class="feature-text">
          退出登录
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="version">
      Version: 1.0.0
    </div>
    <a class="github-link" href="https://github.com/tian-li/spend-book" target="_blank">
      <img class="github-img" src="../../../../assets/images/GitHub-Mark-32px.png" alt="github link"/>
    </a>
  </div>

</div>
