<div class="user-home-container">
  <div class="user-info">
    <div class="profile-photo">
      <img src="https://picsum.photos/70" alt="profile photo">
    </div>

    <div class="user-info">
      <div class="user-name">
        <div>
          快速狐狸
        </div>
        <mat-icon>create</mat-icon>
      </div>

      <div class="statistics">
        <div>
          已记账 1234 天，连续记账 105 天，共 984 笔
        </div>
      </div>
    </div>
  </div>


  <div class="features">
    <div class="feature">
      <mat-icon class="feature-icon">star_half</mat-icon>
      <div class="feature-content">
        <div class="feature-text">黑暗模式（开发中...）</div>
        <mat-slide-toggle class="open-feature-arrow"></mat-slide-toggle>
      </div>
    </div>

    <div matRipple class="feature">
      <mat-icon class="feature-icon">insert_photo</mat-icon>
      <div class="feature-content">
        <div class="feature-text">
          选择主题
        </div>
        <mat-icon class="open-feature-arrow">keyboard_arrow_right</mat-icon>

      </div>
    </div>

    <div matRipple class="feature">
      <mat-icon class="feature-icon">email</mat-icon>
      <div class="feature-content">
        <div class="feature-text">
          反馈意见
        </div>
      </div>
    </div>

    <div matRipple class="feature">
      <mat-icon class="feature-icon">info</mat-icon>
      <div class="feature-content">
        <div class="feature-text">
          关于
        </div>
        <mat-icon class="open-feature-arrow">keyboard_arrow_right</mat-icon>
      </div>
    </div>

  </div>

</div>
