div {
  display: flex;
}

.user-home-container {
  flex-direction: column;
}

.user-info-overview {
  justify-content: flex-start;
  align-items: center;
  height: 114px; // make it same height as home header
  position: fixed;
  width: 100%;
  z-index: 5;

  .profile-photo {
    position: relative;
    justify-content: center;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      margin: 1rem;
      border-radius: 50%;
    }

    .upload-progress {
      width: 70%;
      position: absolute;
      /* left: 50%; */
      /* display: none; */
      /* top: 50%; */
      background: #00000099;
      /* margin-left: auto; */
      height: 70%;
      border: 5px #16a9c3 solid;
      border-radius: 100%;
      justify-content: center;
      align-items: center;

      i {
        color: white;
        font-size: 3rem;
      }
    }
  }

  .user-info {
    flex-direction: column;
    align-items: flex-start;


    .user-name {
      font-size: 1.5rem;
      align-items: baseline;

      i.edit-icon {
        margin-left: 0.5rem;
        font-size: 1rem;
        text-decoration: underline;
      }

      .proceed-register {
        align-items: center;

        .proceed-register-text {
          font-size: 0.8rem;
          margin-left: 2rem;
        }
      }
    }

    .statistics {
      font-size: 0.7rem;
      flex-direction: column;
    }

  }

  .message-center {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.settings-list {
  padding-top: 114px;
  display: block;
}

.features {
  flex-direction: column;
  margin-top: 1rem;

  i, mat-slide-toggle {
    display: flex;
  }

  .feature {
    align-items: center;

    .feature-icon {
      margin: 0 0.5rem 0 0.5rem;
    }

    .feature-content {
      flex-grow: 1;
      padding: 0.7rem 0 0.7rem 0;

      .feature-text {
        flex-grow: 1;
        align-items: center;
        height: 28px;
      }
    }

    .feature-proceeding-action {
      justify-self: flex-end;
      margin-right: 0.5rem;
      font-size: 1.8rem;
      height: unset;
      width: unset;
    }

    mat-slide-toggle.feature-proceeding-action {
      margin-right: 1rem;
    }
  }
}

.about {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  //margin-bottom: 220px;

  .version {
    font-size: 0.8rem;
    margin-right: 5px;
  }

  .github-link {
    display: flex;
    align-self: baseline;

    mat-icon {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
    }
  }
}
