<div class="login-container">
  <div class="logo">
    <img id="logo" src="../../../../assets/images/黑字登录logo-透明.png" alt="logo"/>
  </div>

  <form [formGroup]="form">
    <div [ngClass]="{'hidden':!registerMode}">
      <mat-form-field class="username">
        <input matInput type="text" placeholder="用户名" formControlName="username" required/>
        <mat-error *ngIf="form.controls.username.hasError('pattern') && !form.controls.username.hasError('required')">
          无效的用户名
        </mat-error>
        <mat-error *ngIf="!form.controls.username.hasError('pattern') && form.controls.username.hasError('required')">
          必填
        </mat-error>
      </mat-form-field>
    </div>


    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required/>
      <mat-error *ngIf="form.controls.email.hasError('pattern') && !form.controls.email.hasError('required')">无效的Email
      </mat-error>
      <mat-error *ngIf="!form.controls.email.hasError('pattern') && form.controls.email.hasError('required')">必填
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="密码" formControlName="password" required/>
      <mat-error *ngIf="form.controls.password.hasError('pattern') && !form.controls.password.hasError('required')">
        无效的密码
      </mat-error>
      <mat-error *ngIf="!form.controls.password.hasError('pattern') && form.controls.password.hasError('required')">必填
      </mat-error>

    </mat-form-field>

    <div [ngClass]="{'hidden':!registerMode}">
      <mat-form-field class="username">
        <input matInput type="password" placeholder="确认密码" formControlName="confirmPassword" required
               [errorStateMatcher]="matcher"/>
        <mat-error *ngIf="form.hasError('passwordNotMatch') && !form.controls.confirmPassword.hasError('required')">
          密码不一致
        </mat-error>
        <mat-error *ngIf="!form.hasError('passwordNotMatch') && form.controls.confirmPassword.hasError('required')">必填
        </mat-error>
      </mat-form-field>
    </div>

  </form>

  <div class="actions">
    <div>
      <button class="button-register" mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">
        {{registerMode ? '注册' : '登录'}}
      </button>
    </div>

    <div class="sub-actions">
      <div (click)="toggleRegisterMode()">
        {{registerMode ? '返回登录' : '快速注册'}}
      </div>

      <div *ngIf="!registerMode">
        忘记密码
      </div>
    </div>
  </div>

</div>
