div, form {
  display: flex;
}

.auth-wrapper {
  width: 100%;
  justify-content: center;
}

.background {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../../../assets/images/登录背景.png");
  background-position: center;
}

.auth-container {
  height: 100%;
  max-width: 90%;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;

  .logo {
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-bottom: 1.5rem;
    font-family: "YouSheBiaoTiHei", "Yuanti SC", sans-serif;

    img {
      display: flex;
      width: 50%;
    }

    .logo-zh {
      font-size: 3rem;
    }

    .logo-en {
      font-size: 1.5rem;
      margin-top: -16px;
    }

    .title {
      font-size: 2rem;
      justify-content: center;
    }
  }

  form {
    flex-direction: column;
    width: 80%;
    z-index: 1;

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: #9291917d;
      backdrop-filter: blur(5px);
    }

    .hidden {
      display: none;
    }

    .username {
      width: 100%;
    }
  }

  .actions {
    flex-direction: column;

    .button-register {
      width: 100%;
    }

    .sub-actions {
      font-size: 0.8rem;
      margin-top: 1rem;
      justify-content: space-between;
      opacity: 0.99;
    }
  }
}

.animate-wrapper {
  display: block;
  z-index: -1;
}
