<div class="container">

  <div class="title">{{title}}</div>

  <mat-dialog-content>
    <form [formGroup]="formGroup" autocomplete="off">
      <div class="switcher-container">
        <app-type-switcher
          [types]="categoryTypes"
          (typeChanged)="changeCategoryType($event)">
        </app-type-switcher>
      </div>

      <div class="amount-category">
        <mat-form-field class="amount">
          <mat-label>金额</mat-label>
          <input matInput formControlName="amount" inputmode="decimal" placeholder="0.00">
          <mat-error *ngIf="formGroup.controls['amount'].hasError('required')">必填</mat-error>
          <mat-error *ngIf="formGroup.controls['amount'].hasError('pattern')">最多两位小数</mat-error>
          <mat-error *ngIf="formGroup.controls['amount'].hasError('max')">每笔最多{{maxTransactionAmount}}</mat-error>
        </mat-form-field>
        <mat-form-field class="category">
          <mat-label>类别</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let category of (categories$ | async)" [value]="category.id">
              <div class="category-item">
                <i class="category-icon material-icons-twotone"
                   [ngClass]="'md-'+ category.icon"
                   [ngStyle]="{'color': category.color}"
                ></i>
                <div class="category-label">{{category.name}}</div>
              </div>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['categoryId'].hasError('required')">必填</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>日期</mat-label>
        <input matInput readonly [min]="minDate" [max]="maxDate" formControlName="transactionDate"
               [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>备注</mat-label>
        <input matInput formControlName="description" placeholder="备注" [maxlength]="transactionDescriptionMaxLength">
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button *ngIf="data.editMode"
            mat-raised-button
            class="delete-button"
            color="warn"
            (click)="delete()"
            [disabled]="loading"
    >
      删除
    </button>

    <button class="cancel-button" mat-raised-button (click)="cancel()" [disabled]="loading">取消</button>

    <button
      mat-raised-button
      color="accent"
      (click)="submit()"
      [disabled]="formGroup.pristine || formGroup.invalid || loading"
    >
      确定
    </button>
  </mat-dialog-actions>
</div>
