div, form {
  display: flex;
}

.container {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.switcher-container {
  justify-content: center;
  margin-bottom: 1rem;
}

form {
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;

  .amount-category {
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: baseline;
  }

  .amount, .category {
    width: 45%;
  }
}

.category-item {
  display: flex;
  align-items: center;

  i.category-icon {
    width: 50%;
  }
}

.actions {
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;

  .delete-button {
    justify-self: flex-start;
  }
}
