@import '~@angular/material/theming';

@mixin app-type-switcher-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .type-switcher {
    border: 1px solid mat-color($foreground, contrast-dividers);

    .type-item {
      &:not(:first-of-type) {
        border-left: 1px solid mat-color($foreground, contrast-dividers);
      }
    }

    .selected {
      background: mat-color($accent, 300);
      color: mat-color($primary, default-contrast);
    }
  }
}
