@import '~@angular/material/theming';

@mixin app-type-switcher-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .type-switcher {
    border: 1px solid mat-color($foreground, divider);

    .type-item {
      &:not(:first-of-type) {
        border-left: 1px solid mat-color($foreground, divider);
      }
    }

    .selected {
      background: mat-color($primary, 300);
    }
  }
}
