<ng-container *ngIf="showToolbar$|async">
  <div appPreventScroll class="nav-container">
    <div class="nav-item" routerLink="/home">
      <i class="material-icons md-receipt" routerLinkActive="activated-route"></i>
      <span>明细</span>
    </div>

    <div class="nav-item" routerLink="/graph">
      <i class="material-icons md-timeline" routerLinkActive="activated-route"></i>
      <span>图表</span>
    </div>

    <div class="nav-item">
      <i class="material-icons md-add_circle_outline hide"></i>
      <span class="hide">记一笔</span>
    </div>

    <div class="nav-item">
      <i class="material-icons md-forum" routerLinkActive="activated-route"></i>
      <span>社区</span>
    </div>

    <div class="nav-item" routerLink="/user">
      <i class="material-icons md-account_circle" routerLinkActive="activated-route"></i>
      <span>我的</span>
    </div>
  </div>

  <div class="add-button">
    <button mat-fab (click)="addTransaction()">
      <i class="material-icons md-add"></i>
    </button>
  </div>
</ng-container>
