<ng-container *ngIf="showToolbar$|async">
  <div appPreventScroll class="nav-container">
    <div class="nav-item" routerLink="/home">
      <i class="md-receipt"
         matRipple matRippleCentered="true" matRippleRadius="16" matRippleUnbounded="true"
         routerLinkActive="activated-route"
         #list="routerLinkActive"
         [ngClass]="{
           'material-icons-outlined': !list.isActive,
           'material-icons-twotone': list.isActive
          }"
      ></i>
      <span>明细</span>
    </div>

    <div class="nav-item" routerLink="/graph">
      <i class="md-timeline"
         matRipple matRippleCentered="true" matRippleRadius="16" matRippleUnbounded="true"
         routerLinkActive="activated-route"
         #chart="routerLinkActive"
         [ngClass]="{
           'material-icons-outlined': !chart.isActive,
           'material-icons-twotone': chart.isActive
          }"
      ></i>
      <span>图表</span>
    </div>

    <div class="nav-item">
      <i class="material-icons md-add_circle_outline hide"></i>
      <span class="hide">记一笔</span>
    </div>

    <div class="nav-item">
      <i class="md-forum"
         matRipple matRippleCentered="true" matRippleRadius="16" matRippleUnbounded="true"
         routerLinkActive="activated-route"
         #forum="routerLinkActive"
         [ngClass]="{
           'material-icons-outlined': !forum.isActive,
           'material-icons-twotone': forum.isActive
          }"
      ></i>
      <span>社区</span>
    </div>

    <div class="nav-item" routerLink="/user">
      <i class="md-account_circle"
         matRipple matRippleCentered="true" matRippleRadius="16" matRippleUnbounded="true"
         routerLinkActive="activated-route"
         #account="routerLinkActive"
         [ngClass]="{
           'material-icons-outlined': !account.isActive,
           'material-icons-twotone': account.isActive
          }"></i>
      <span>我的</span>
    </div>
  </div>

  <div class="add-button">
    <button mat-fab (click)="addTransaction()">
      <i class="material-icons md-add" [@rotateAddButton]="addButtonAnimateState"></i>
    </button>
  </div>
</ng-container>
