@use '~@angular/material' as mat;

@mixin app-nav-bar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .nav-container {
    background: mat.get-color-from-palette($background, app-bar);
    border-top: 1px solid mat.get-color-from-palette($foreground, divider);

    .nav-item {
      color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .activated-route {
      color: mat.get-color-from-palette($primary);
    }
  }
}
