<div class="nav-container">
  <div class="nav-item" routerLink="/home">
    <mat-icon class="activated-route">receipt</mat-icon>
    <span>明细</span>
  </div>

  <div class="nav-item" routerLink="/graph">
    <mat-icon>timeline</mat-icon>
    <span>图表</span>
  </div>

  <div class="nav-item">
    <mat-icon class="hide">add_circle_outline</mat-icon>
    <span>记账</span>
  </div>

  <div class="nav-item">
    <mat-icon>forum</mat-icon>
    <span>社区</span>
  </div>

  <div class="nav-item">
    <mat-icon>account_circle</mat-icon>
    <span>我的</span>
  </div>

</div>

<div class="add-button">
      <mat-icon
        matRipple
        matRippleCentered="true"
        matRippleRadius="32"
        matRippleColor="#ffda4373"
        (click)="addTransaction()"
      >add_circle_outline</mat-icon>
</div>
