@import '~@angular/material/theming';

@mixin app-nav-bar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .nav-container {
    background: mat-color($background, app-bar);
    border-top: 1px solid mat-color($foreground, divider);

    .nav-item {
      color: mat-color($foreground, secondary-text);
    }

    .activated-route {
      color: mat-color($primary);
    }
  }
}
