div, form {
  display: flex;
}

//mat-form-field{
//  font-size: 1rem;
//}

.subscription-editor {
  flex-direction: column;

  .actions {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .cancel-button {
      transform: translate(-1rem);
    }

    .save-button {
      transform: translate(1rem);
    }

    .title {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .form {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .switcher-container {
      justify-content: center;
      margin-bottom: 1rem;
    }

    .amount-category, .frequencies, .start-end-date {
      width: 100%;
      justify-content: space-evenly;
      margin-bottom: 1rem;
    }
    .amount, .category, .frequency, .period {
      width: 45%;
    }

    .start-date, .end-date {
      width: 45%;
    }

    .frequencies {
      margin-bottom: 1rem;
      mat-radio-group{
        display: grid;
        grid-template-columns: repeat(3, auto);;
        grid-template-rows: auto;
        justify-items: center;
        grid-row-gap: 3px;
      }
    }

    .description {
      width: 100%;
      justify-content: center;

      mat-form-field {
        width: 94%;
      }
    }

    .quick-overview {
      width: 94%;
      margin-bottom: 1rem;
    }
  }
}

.category-item {
  display: flex;
  align-items: center;

  i.category-icon {
    width: 40%;
  }
}
