<div class="subscription-editor">

  <div class="actions">
    <button mat-button color="primary" class="cancel-button" (click)="cancel()">取消</button>
    <div class="title">{{title}}</div>
    <button mat-button color="primary" class="save-button"
            (click)="save()">
      保存
    </button>
  </div>

  <form class="form" [formGroup]="formGroup" autocomplete="off">
    <div class="switcher-container">
      <app-type-switcher
        [types]="categoryTypes"
        (typeChanged)="changeCategoryType($event)">
      </app-type-switcher>
    </div>

    <!-- 金额、类别 -->
    <div class="amount-category">
      <mat-form-field class="amount">
        <mat-label>金额</mat-label>
        <input matInput formControlName="amount" inputmode="decimal" placeholder="0.00" required>
        <mat-error *ngIf="formGroup.controls['amount'].hasError('required')">必填</mat-error>
        <mat-error *ngIf="formGroup.controls['amount'].hasError('pattern')">最多两位小数</mat-error>
      </mat-form-field>
      <mat-form-field class="category">
        <mat-label>类别</mat-label>
        <mat-select formControlName="categoryId" required>
          <mat-option *ngFor="let category of (categories$ | async)" [value]="category.id">
            <div class="category-item">
              <i class="category-icon material-icons-twotone"
                 [ngClass]="'md-'+ category.icon"
                 [ngStyle]="{'color': category.color}"
              ></i>
              <div class="category-label">{{category.name}}</div>
            </div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['categoryId'].hasError('required')">必填</mat-error>
      </mat-form-field>
    </div>

    <!-- 频率 -->
    <div class="frequencies">
      <mat-form-field class="interval">
        <mat-label>间隔</mat-label>
        <mat-select formControlName="interval" required>
          <mat-option *ngFor="let interval of intervals" [value]="interval">
            <div class="category-label">{{interval}}</div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['interval'].hasError('required')">必填</mat-error>
      </mat-form-field>

      <mat-form-field class="frequency">
        <mat-label>频率</mat-label>
        <mat-select formControlName="frequency" required>
          <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
            <div class="category-label">{{frequency}}</div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['frequency'].hasError('required')">必填</mat-error>
      </mat-form-field>
    </div>

    <!-- 起止日期 -->
    <div class="start-end-date">
      <mat-form-field class="start-date">
        <mat-label>开始日期</mat-label>
        <input matInput readonly required [min]="minStartDate" [max]="maxDate" formControlName="startDate"
               [matDatepicker]="startDatePicker">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #startDatePicker disabled="false"></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['startDate'].hasError('required')">必填</mat-error>
        <mat-hint *ngIf="!!startDateControlValue">{{startDateDayOfWeek}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="end-date">
        <mat-label>结束日期</mat-label>
        <input matInput readonly [min]="minEndDate" [max]="maxDate" formControlName="endDate"
               [matDatepicker]="endDatePicker">
        <mat-datepicker-toggle
          matSuffix [for]="endDatePicker"
          [disabled]="!startDateControlValue"></mat-datepicker-toggle>
        <mat-datepicker touchUi #endDatePicker disabled="false"></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['endDate'].hasError('matDatepickerMin')">必须晚于开始日期</mat-error>
        <mat-hint *ngIf="formGroup.controls['endDate'].valid">如果结束在周期当天，将会发生记账</mat-hint>
      </mat-form-field>
    </div>

    <!-- 备注 -->
    <div class="description">
      <mat-form-field>
        <mat-label>备注</mat-label>
        <input matInput formControlName="description" placeholder="备注" [maxlength]="transactionDescriptionMaxLength">
      </mat-form-field>
    </div>

    <!-- 总结 -->
    <div class="quick-overview" [ngStyle]="{'opacity': showSummary ? 1 : 0 }">
      周期：{{summary}}
    </div>
  </form>
</div>
