div {
  display: flex;
}

.swipeable-item {
  position: relative;
}

.item-container {
  z-index: 2;
  width: 100%;
}

.swipe-background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  align-items: center;

  .swipe-left-background {
    align-items: center;
    height: 100%;
    right: 0;
    top: 0;
  }

  .swipe-right-background {
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
  }

  i {
    position: absolute;
    font-size: 0.8rem;

    &.left-icon {
      left: 1rem;
    }

    &.right-icon {
      right: 1rem;
    }

    &.magnify {
      font-size: 1.3rem;
    }
  }
}
