div {
  display: flex;
}

.swipeable-item {
  position: relative;
}

.item-container {
  z-index: 2;
  width: 100%;
}

.delete-background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff5f5f;
  z-index: 1;
  align-items: center;

  i {
    position: absolute;
    right: 1rem;
    font-size: 0.8rem;

    &.magnify {
      font-size: 1.3rem;
    }
  }
}

.confirm-delete {
  background: red;
}
