<div class="swipeable-item" [@flyInOut]="flyInOutState" (@flyInOut.done)="flyOutFinished($event)">
  <div class="item-container" [ngStyle]="{'transform': getTranslateXValue()}"
       appSwipeEvent (cbkSwipe)="swipe($event)" (endSwipe)="endSwipe($event)" (cancelSwipe)="cancelSwipe()"
       [swipeDisabled]="disabled"
       [@toggleSwipeActionIcon]="showSwipeIcon">
    <ng-content></ng-content>
  </div>

  <div class="swipe-background">
    <div class="swipe-right-background" *ngIf="canSwipeRight"
         [ngStyle]="{'background': swipeRightColor, 'width': canSwipeLeft ? '50%' : '100%' }">
      <i class="material-icons-outlined left-icon md-{{swipeRightIcon}}"
         [ngClass]="{'magnify': widthPercentageNumber > swipeDeleteThreshold}">
      </i>
    </div>

    <div class="swipe-left-background" *ngIf="canSwipeLeft"
         [ngStyle]="{'background': swipeLeftColor, 'width': canSwipeRight ? '50%' : '100%' }">
      <i class="material-icons-outlined right-icon md-{{swipeLeftIcon}}"
         [ngClass]="{'magnify': widthPercentageNumber > swipeDeleteThreshold}">
      </i>
    </div>
  </div>
</div>
