<div class="image-editor__container">
  <div class="image-editor__header">
    <div class="image-editor__title">编辑图片</div>
  </div>

  <div class="image-editor__wrapper">
    <div class="image-editor__window" #cropperWindow>
      <img
        id="image"
        class="image-editor__original-image"
        draggable="true"
        #imageElement
        alt="图片"
        [ngStyle]="{
          width: displayWidth + 'px',
          height: displayHeight + 'px',
          left: displayOffsetLeft + 'px',
          top: displayOffsetTop + 'px'
        }"
        (load)="onImgLoad($event)"
        appTouchDragEvent
        [initialWidth]="displayWidth"
        [initialHeight]="displayHeight"
        [initialLeft]="displayOffsetLeft"
        [initialTop]="displayOffsetTop"
        (dragResult)="onResult($event)"
      />
    </div>
  </div>

  <button
    class="image-editor__button-save"
    mat-raised-button
    color="accent"
    (click)="cutImage()"
  >
    确认
  </button>
  <button
    class="image-editor__button-cancel"
    mat-raised-button
    (click)="cancel()"
  >
    取消
  </button>

  <!-- <button class="button-save" mat-raised-button color="accent" (click)="save()">
    保存
  </button>

  <button class="button-cancel" mat-raised-button (click)="cancel()">
    取消
  </button> -->
</div>
