div {
  display: flex;
}

.date-divider {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.income {
  align-items: baseline;

  .income-number {
    color: green;
  }
}

.spend {
  margin-left: 10px;
  align-items: baseline;

  .spend-number {
    color: #f44336;
  }
}
