div {
  display: flex;
}

.date-divider {
  color: #969696;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: #e1e1e1 solid 1px;
}

.income {
  align-items: baseline;

  .income-number {
    color: green;
  }
}

.spend {
  margin-left: 10px;
  align-items: baseline;

  .spend-number {
    color: red;
  }
}
