div {
  display: flex;
}

.pie-chart-container {
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 20px;
  font-size: 1rem;
  align-items: center;

  .month-nav-arrow {
    border-radius: 50%;
  }

  .month-title {
    margin: 0 1rem;
  }

  .month-picker {
    font-size: 0.7rem;
    height: unset;
    width: unset;
  }
}
