@use '@angular/material' as mat;

@mixin app-graph-chart-pie-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .pie-chart-container {
    .title {
      padding: 20px;
      font-size: 1rem;
      align-items: center;

      .month-nav-arrow {
        background: mat.get-color-from-palette($foreground, divider);
      }

      .month-picker {
        font-size: 0.7rem;
      }
    }
  }
}
