<div class="container">
  <div class="title" >
    <div matRipple class="month-nav-arrow" (click)="previousMonth()">
      <i class="material-icons md-keyboard_arrow_left"></i>
    </div>
    <div class="month-title" (click)="changeMonth()" >{{displayMonth|date:'yyyy/MM'}}</div>
    <div matRipple class="month-nav-arrow" (click)="nextMonth()">
      <i class="material-icons md-keyboard_arrow_right"></i>
    </div>
  </div>

  <div class="transaction-type-switcher">
    <div class="spend"
         (click)="changeTransactionType(TransactionType.spend)"
         [ngClass]="{ 'selected': selectedTransactionType === TransactionType.spend }">
      <div class="label">花费</div>
    </div>
    <div class="income"
         (click)="changeTransactionType(TransactionType.income)"
         [ngClass]="{ 'selected': selectedTransactionType === TransactionType.income }">
      <div class="label">收入</div>
    </div>
  </div>

  <div class="chart">
    <div class="charts-container" style="position: relative; height:60vh; width:90vw">
      <canvas class="chart" #myChart ></canvas>
    </div>
  </div>

</div>


