.loading {
  display: flex;
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  background: #a5a5a59e;
  align-items: center;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;
  }
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
