.loading {
  display: flex;
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  background: #a5a5a59e;
  align-items: center;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;
  }
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.wechat-cover {
  background-image: url("../assets/images/live_weixin.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 30;

  .logo {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    z-index: 1;
    margin-bottom: 1.5rem;
    font-family: "YouSheBiaoTiHei", "Yuanti SC", sans-serif;

    .logo-zh {
      font-size: 3rem;
    }

    .logo-en {
      font-size: 1.5rem;
      margin-top: -16px;
    }
  }
}

.progress-spinner-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;

  mat-progress-spinner {
    z-index: 2;
  }

  i {
    z-index: 2;
    justify-self: center;
    font-size: 3rem;
    display: block;
    position: absolute;
  }

  .backdrop {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
    border-radius: 10%;
    background: #000000a1;
    display: flex;
    justify-content: center;
    align-items: flex-end;


    .percentage {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }
}
