<div *ngIf="!isWeChat" [class]="'wrapper mat-app-background ' + theme">
  <div class="loading" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>
</div>

<div *ngIf="isWeChat" class="wechat-cover">
  <div class="logo">
      <span data-text="赛博记账" class="logo-zh glitch">赛博记账</span>
      <span data-text="CyberBook" class="logo-en glitch">CyberBook</span>
  </div>
</div>

<div class="progress-spinner-container" *ngIf="show">
  <mat-progress-spinner
    class="example-margin"
    mode="determinate"
    [value]="uploadProgress$ | async">

  </mat-progress-spinner>

  <i class="material-icons md-done" *ngIf="show && finished"></i>

  <div class="backdrop">
    <div class="percentage">
      {{uploadProgress$ | async}}%
    </div>
  </div>


</div>


<!-- [value]="uploadProgress$ | async"> -->
