div, nav {
  display: flex;
}

.chart-type {
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-evenly;
  background: #ffda43;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: gray;
}

.activated-route {
  color: black;
}
