@import '~@angular/material/theming';

@mixin app-graph-header-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .chart-type {
    background: mat-color($primary);
    a {
      color: mat-color($foreground, secondary-text);
    }
    .activated-route {
      color: black;
    }
  }

}
