<div class="line-chart-container">
  <div class="title" (click)="changeMonthRange()">
    <button mat-stroked-button>
      {{startDate.format(dateAxisFormat)}} ~ {{endDate.format(dateAxisFormat)}}
    </button>
  </div>

  <div class="switcher-container">
    <app-type-switcher
      [types]="categoryTypes"
      (typeChanged)="changeTransactionType($event)">
    </app-type-switcher>
  </div>

  <div class="chart">
    <div class="charts-container" style="position: relative; height:60vh; width:90vw">
      <canvas class="chart" #myChart></canvas>
    </div>
  </div>

</div>


