<div class="line-chart-container">
  <div class="title" (click)="changeMonthRange()">
    <div>{{startDate.format(dateAxisFormat)}} ~ {{endDate.format(dateAxisFormat)}}</div>
  </div>

  <div class="switcher-container">
    <app-category-type-switcher [showBoth]="true" (categoryTypeChanged)="changeTransactionType($event)"></app-category-type-switcher>
  </div>

  <div class="chart">
    <div class="charts-container" style="position: relative; height:60vh; width:90vw">
      <canvas class="chart" #myChart></canvas>
    </div>
  </div>

</div>


