div {
  display: flex;
}

.line-chart-container {
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 10px;
  font-size: 1rem;
  align-items: center;

  .month-picker {
    font-size: 0.7rem;
    height: unset;
    width: unset;
  }
}

.switcher-container {
  margin-bottom: 2rem;
}

