@import '~@angular/material/theming';

@mixin app-transaction-item-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .transaction-item {
    color: mat-color($foreground, secondary-text);

    .item-container {
      background: mat-color($background, background);
    }

    .details {
      &:active {
        background: mat-color($background, hover);
      }
    }

    .divide-line {
      border-top: 1px solid mat-color($foreground, divider);
    }

    .delete-button {
      color: mat-color($foreground, secondary-text);
    }
  }
}
