<div class="transaction-item" [@flyInOut]="flyInOutState" (@flyInOut.done)="delete($event)">
  <div class="item-container" [ngStyle]="{'transform': getTranslateXValue()}"
       [@swipeDelete]="{ value: swipeDeleteState}">
    <div class="icon">
      <img src="{{transactionVO.icon}}" alt="category-icon">
    </div>
    <div class="details" (click)="editTransaction()" [ngClass]="{'divide-line': !firstOfDate}"
         appSwipeEvent (swipe)="onSwipe($event)" (endSwipe)="onEndSwipe($event)" (cancelSwipe)="cancelSwipe()">
      <div class="description">
      <span>
        {{transactionVO.description ? transactionVO.description : transactionVO.categoryName}}
      </span>
      </div>
      <div class="amount" [ngStyle]="{ 'color': transactionVO.amount > 0 ? 'green' : 'red' }">
        {{transactionVO.amount.toFixed(2)}}
      </div>
    </div>
  </div>

  <div class="delete-background"
       [ngClass]="{'confirm-delete': widthPercentageNumber > swipeDeleteThreshold}">
    <i class="material-icons md-delete_outline"
       [ngClass]="{'magnify': widthPercentageNumber > swipeDeleteThreshold}">
    </i>
  </div>
</div>
