div {
  display: flex;
}

.item {
  color: #353535;
  padding-left: 1rem;
  justify-content: space-between;
}

.icon {
  align-items: center;
  padding: 0.6rem 1.2rem 0.6rem 0;

  img {
    border-radius: 50%;
    background: gray;
    height: 2rem;
  }
}

.details {
  flex-grow: 1;
  align-items: center;

  &:active {
    background: #e4e4e4;
  }
}

.divide-line {
  border-top: #e1e1e1 solid 1px;
}

.description {
  flex-grow: 1;
  min-width: 50%;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.amount {
  padding-right: 1rem;
}

.delete-button {
  background: #ff5f5f;
  width: 4rem;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: -2;

  mat-icon{
    z-index: -1;
    position: absolute;
    right: 1rem;
    height: unset;
    width: unset;
    font-size: 0.8rem;

    &.magnify {
      font-size: 1.3rem;
    }
  }
}

.confirm-delete {
  background: red;
}
