div {
  display: flex;
}

.transaction-item {
  position: relative;
  width: 100%;
  z-index: 2;
  padding-left: 1rem;
  justify-content: space-between;
}

.icon {
  align-items: center;
  padding: 0.6rem 1.2rem 0.6rem 0;

  .icon-inner-container {
    border-radius: 50%;
    padding: 0.3rem;
  }
}

.details {
  flex-grow: 1;
  align-items: center;
  z-index: 3;
}

.description {
  flex-grow: 1;
  min-width: 50%;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.amount {
  padding-right: 1rem;
}
