<app-swipeable-item (swipeResult)="delete($event)">
  <div class="transaction-item">
    <div class="icon">
      <div class="icon-inner-container">
        <i class="material-icons-twotone"
           [ngClass]="'md-'+transactionVO.icon"
           [ngStyle]="{'color': transactionVO.categoryColor}"
        ></i>
      </div>
    </div>
    <div class="details" (click)="editTransaction()" [ngClass]="{'divide-line': !firstOfDate}">
      <div class="description">
        <span>
          {{transactionVO.description ? transactionVO.description : transactionVO.categoryName}}
        </span>
        <span class="subscription-marker" *ngIf="!!transactionVO.subscriptionId">
          周期性账目
        </span>
      </div>
      <div class="amount" [ngStyle]="{ 'color': transactionVO.amount > 0 ? 'green' : 'red' }">
        {{transactionVO.amount.toFixed(2)}}
      </div>
    </div>
  </div>
</app-swipeable-item>
