@import '~@angular/material/theming';

@mixin app-transaction-item-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .item {
    color: mat-color($foreground, secondary-text);
  }

  .details {

    &:active {
      background: mat-color($background, hover);
    }
  }

  .divide-line {
    border-top-color: mat-color($foreground, divider);
  }

  .delete-button {
    color: mat-color($foreground, secondary-text);
  }

}
