@import '~@angular/material/theming';

@mixin app-transaction-item-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .transaction-item {
    background: mat-color($background, background);

    .icon {
      .icon-inner-container {
        background: mat-color($background, app-bar);
      }
    }

    .details {
      &:active {
        background: mat-color($background, hover);
      }
    }

    .divide-line {
      border-top: 1px solid mat-color($foreground, divider);
    }
  }
}
