<div class="item" [@flyInOut]="flyInOutState" (@flyInOut.done)="delete($event)">
  <div class="icon">
    <img src="{{transactionVO.icon}}" alt="category-icon">
  </div>
  <div matRipple class="details"
       appSwipeEvent (swipe)="onSwipe($event)" (endSwipe)="onEndSwipe($event)"
       (click)="editTransaction()"
       [ngClass]="{'divide-line': !firstOfDate}">
    <div class="description">
      <span>
        {{transactionVO.description ? transactionVO.description : transactionVO.categoryName}}
      </span>
    </div>
    <div class="amount"
         [ngStyle]="{ 'color': transactionVO.amount > 0 ? 'green' : 'red' }">
      {{transactionVO.amount.toFixed(2)}}
    </div>
  </div>

  <div class="delete-button"
       [@swipeDelete]="{ value: swipeDeleteState, params:{ widthPercentage: widthPercentage }}"
  >
    <mat-icon
      *ngIf="swipeDeleteState === 'showDelete' && widthPercentageNumber > 0.05"
      [ngClass]="{'magnify': widthPercentageNumber > swipeDeleteThreshold}">
      delete_outline
    </mat-icon>
  </div>
</div>
