div {
  display: flex;
}

.transaction-item {
  position: relative;
}

.item-container {
  z-index: 2;
  padding-left: 1rem;
  justify-content: space-between;
  width: 100%;
}

.icon {
  align-items: center;
  padding: 0.6rem 1.2rem 0.6rem 0;

  img {
    border-radius: 50%;
    background: gray;
    height: 2rem;
  }
}

.details {
  flex-grow: 1;
  align-items: center;
  z-index: 3;
}

.description {
  flex-grow: 1;
  min-width: 50%;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.amount {
  padding-right: 1rem;
}

.delete-background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff5f5f;
  z-index: 1;
  align-items: center;

  i {
    position: absolute;
    right: 1rem;
    font-size: 0.8rem;

    &.magnify {
      font-size: 1.3rem;
    }
  }
}

.confirm-delete {
  background: red;
}
