<app-swipeable-item
  [canSwipeRight]="true"
  [swipeRightIcon]="'timer_off'"
  (swipeResult)="delete($event)">
  <div class="message-thread-item" >
    <div class="profile-photo">
      <img src="./assets/images/profile-photo.jpg" alt="profile photo">
    </div>
    <div class="details" [ngClass]="{'message-thread-border': !isLastItem}">
      <div class="message-thread-info">
        <div class="thread-name">
          对方用户名
        </div>
        <div class="last-message-time">
          {{lastMessageTimeDisplay()}}
        </div>
      </div>

      <div class="message-preview">
          {{messageThread.preview}}
      </div>

    </div>
  </div>
</app-swipeable-item>
