<div class="container">
  <div class="title">
    <h1 mat-dialog-title>选择起止日期</h1>
  </div>

  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <mat-form-field class="start-date">
        <mat-label>起始日期</mat-label>
        <input matInput readonly [errorStateMatcher]="matcher"
               formControlName="startDate"
               [min]="data.minDate"
               [max]="data.maxDate"
               [matDatepicker]="startDate"
        >
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #startDate></mat-datepicker>
        <mat-error *ngIf="formGroup.hasError(inValidRange)">无效的起止日期</mat-error>
      </mat-form-field>

      <mat-form-field class="end-date">
        <mat-label>终止日期</mat-label>
        <input matInput readonly [errorStateMatcher]="matcher"
               formControlName="endDate"
               [min]="data.minDate"
               [max]="data.maxDate"
               [matDatepicker]="endDate"
        >
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #endDate></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button mat-raised-button (click)="cancel()">取消</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="formGroup.invalid">确定</button>
  </mat-dialog-actions>

</div>
