div, form {
  display: flex;
}

.container {
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.title {
  justify-content: center;
}

form {
  justify-content: space-between;

  .start-date, .end-date {
    width: 120px;
  }
}

.actions {
  justify-content: flex-end;
  padding-left:  1rem;
  padding-right:  1rem;

  button {
    margin-left: 2rem;
  }
}
