<app-nav-header
  [title]="'用户信息'"
  [leftButtonIcon]="'keyboard_arrow_left'"
  (leftButtonClicked)="back()"
></app-nav-header>

<div class="profile-container">
  <form class="user-info" [formGroup]="form">
    <mat-form-field>
      <input matInput type="text" placeholder="用户名" formControlName="username" required/>
      <mat-error *ngIf="form.controls.username.hasError('pattern') && !form.controls.username.hasError('required')">无效的用户名</mat-error>
      <mat-error *ngIf="!form.controls.username.hasError('pattern') && form.controls.username.hasError('required')">必填</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Email" formControlName="email" required/>
      <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">无效的Email</mat-error>
      <mat-error *ngIf="!form.controls.email.hasError('email') && form.controls.email.hasError('required')">必填</mat-error>
    </mat-form-field>

    <mat-form-field>

      <mat-label>性别</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option [value]="0">保密</mat-option>
        <mat-option [value]="1">男</mat-option>
        <mat-option [value]="2">女</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.gender.hasError('required')">必填</mat-error>

    </mat-form-field>

    <mat-form-field>
      <mat-label>生日</mat-label>
      <input matInput [matDatepicker]="birthdayPicker" formControlName="birthday" required>
      <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker></mat-datepicker>
      <mat-error *ngIf="form.controls.birthday.hasError('required')">必填</mat-error>
    </mat-form-field>

  </form>

  <button class="button-save" mat-raised-button color="accent" (click)="save()" [disabled]="form.invalid">
    保存
  </button>

</div>
