div, form {
  display: flex;
}

.profile-container {
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form.user-info {
  flex-direction: column;
  width: 80%;
  margin-top: 2rem;
}

.button-save {
  margin-top: 2rem;
  width: 80%;
}
