div, form {
  display: flex;
}

.profile-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    position: relative;
    width: 100%;
    height: 3rem;
    background: #ffda43;
    align-items: center;

    .return-button {
      position: absolute;
      left: 0.5rem;

      i {
        border-radius: 50%;
        display: flex;
        font-size: 2.5rem;
        height: unset;
        width: unset;
      }
    }

    .title {
      justify-content: center;
      flex-grow: 1;
    }
  }
}


form.user-info {
  flex-direction: column;
  width: 80%;
  margin-top: 2rem;
}

.button-save {
  margin-top: 2rem;
  width: 80%;
}
