@import '~@angular/material/theming';

@mixin app-category-editor-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .appearance-selector {

    //.color-selector {
    //  .color-preview {
    //    border: 2px solid transparent;
    //  }
    //}

    //.icon-selector {

      .icon-preview {
        //border: 2px solid transparent;
        //color: mat-color($foreground, secondary-text)
      }
    .icon-preview {
     background: mat-color($background, app-bar);
    }
    //}

    .selected {
      border: 2px solid mat-color($foreground, secondary-text);
    }
  }

}
