div {
  display: flex;
}

.category-editor {
  flex-direction: column;

  .actions {
    justify-content: space-between;
    align-items: center;

    .cancel-button {
      transform: translate(-1rem);
    }

    .save-button {
      transform: translate(1rem);
    }

    .title {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .preview {
    justify-content: center;
    align-items: center;

    i {
      font-size: 4rem;
    }
  }

  .category-name {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    mat-form-field {
      font-size: 1rem;
    }
  }

  .appearance-selector {
    width: 100%;
    flex-direction: column;

    .color-selector {
      display: grid;
      grid-template-columns: repeat(6, auto);;
      grid-template-rows: auto;
      grid-row-gap: 3px;
      justify-items: center;
      margin-bottom: 1rem;

      .color-preview {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin: 4px;
      }
    }

    .icon-selector {
      height: 150px;
      overflow-y: scroll;

      display: grid;
      grid-template-columns: repeat(6, auto);;
      grid-template-rows: auto;
      justify-items: center;
      grid-row-gap: 3px;

      .icon-preview {
        font-size: 1.5rem;
      }
    }

  }

}
.category-icon-background {
  padding: 5px;
  border-radius: 50%;
}

.color-outer-border {
  border: 2px solid transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
