<div class="category-editor">
  <div class="actions">
    <button mat-button color="primary" class="cancel-button" (click)="cancel()">取消</button>
    <div class="title">编辑/新建 类别</div>
    <button mat-button color="primary" class="save-button" (click)="save()">保存</button>
  </div>

  <div class="preview">
    <div class="category-icon-background" [ngStyle]="{color:selectedColor}">
      <i class="material-icons-twotone" [ngClass]="'md-'+selectedIcon"></i>
    </div>
  </div>

  <div class="category-name">
    <mat-form-field appearance="outline">
      <mat-label>类别名称</mat-label>
      <input matInput type="text" placeholder="类别名称" [formControl]="categoryNameControl" required/>
      <mat-error *ngIf="categoryNameControl.hasError('maxlength')">最多5个字</mat-error>
      <mat-error *ngIf="categoryNameControl.hasError('required')">必填</mat-error>
    </mat-form-field>
  </div>

  <div class="appearance-selector">
    <div class="color-selector">
      <ng-container *ngFor="let color of availableCategoryColors">
        <div class="color-outer-border" (click)="selectColor(color)" [ngClass]="{'selected':color === selectedColor}">
          <div class="color-preview" [ngStyle]="{background: color}"></div>
        </div>
      </ng-container>
    </div>

    <div class="icon-selector">
      <ng-container *ngFor="let icon of availableCategoryIcons">
        <div class="color-outer-border" [ngClass]="{'selected':icon === selectedIcon}" (click)="selectIcon(icon)">
          <div class="category-icon-background">
            <i class="icon-preview material-icons-twotone" [ngClass]="'md-'+icon"></i>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
