@import '~@angular/material/theming';

@mixin app-category-editor-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .category-icon-background, .preview-icon-background {
    background: mat-color($background, app-bar);
  }

  .appearance-selector {
    .selected {
      border: 2px solid mat-color($foreground, secondary-text);
    }
  }
}
