// icons
@import url('assets/fonts/material-icons/baseline.css');
@import url('assets/fonts/material-icons/outline.css');
@import url('assets/fonts/material-icons/twotone.css');

// light themes
@import 'assets/themes/indigo-pink';
@import 'assets/themes/deeppurple-amber';

// dark themes
@import 'assets/themes/purple-green';
@import 'assets/themes/pink-bluegrey';

@include mat-core();

// theme components
// book
@import 'app/book/components/book-header/book-header.component.scss-theme';
@import 'app/book/components/date-divider/date-divider.component.scss-theme';
@import 'app/book/components/transaction-item/transaction-item.component.scss-theme';

// graph
@import 'app/graph/components/graph-chart-pie/graph-chart-pie.component.scss-theme';
@import 'app/graph/components/graph-header/graph-header.component.scss-theme';

// user
@import 'app/user/components/theme-selector/theme-selector.component.scss-theme';
@import 'app/user/components/user-home/user-home.component.scss-theme';
@import 'app/user/components/profile/profile.component.scss-theme';
@import 'app/user/components/manage-categories/manage-categories.component.scss-theme';
@import 'app/user/components/subscription-management/subscription-management.component.scss-theme';
@import 'app/user/components/category-editor/category-editor.component.scss-theme';

// shared
@import 'app/shared/components/nav-bar/nav-bar.component.scss-theme';
@import 'app/shared/components/type-switcher/type-switcher.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include app-theme-selector-component-theme($theme);
  @include app-nav-bar-component-theme($theme);
  @include app-book-header-component-theme($theme);
  @include app-date-divider-component-theme($theme);
  @include app-transaction-item-component-theme($theme);
  @include app-graph-chart-pie-component-theme($theme);
  @include app-graph-header-component-theme($theme);
  @include app-user-home-component-theme($theme);
  @include app-profile-component-theme($theme);
  @include app-manage-categories-component-theme($theme);
  @include app-category-editor-component-theme($theme);
  @include app-type-switcher-component-theme($theme);
  @include app-subscription-management-component-theme($theme);
}

.indigo-pink-theme {
  @include angular-material-theme($indigo-pink-theme);
  @include custom-components-theme($indigo-pink-theme);
}

.pink-bluegrey-theme {
  @include angular-material-theme($pink-bluegrey-theme);
  @include custom-components-theme($pink-bluegrey-theme);
}

.purple-green-theme {
  @include angular-material-theme($purple-green-theme);
  @include custom-components-theme($purple-green-theme);
}

.deeppurple-amber-theme {
  @include angular-material-theme($deeppurple-amber-theme);
  @include custom-components-theme($deeppurple-amber-theme);
}

@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Light'), url('./assets/fonts/HelveticaNeue-Light.woff') format('woff');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  user-select: none;
}

* {
  overscroll-behavior: none !important;
}
