// icons
@import url('assets/fonts/material-icons/baseline.css');
@import url('assets/fonts/material-icons/outline.css');
@import url('assets/fonts/material-icons/twotone.css');

// light themes
@import 'assets/themes/seasons-spring';
@import 'assets/themes/seasons-summer';
@import 'assets/themes/seasons-autumn';
@import 'assets/themes/seasons-winter';

// dark themes
@import 'assets/themes/cyberpunk-2077';
@import 'assets/themes/blade-runner-2049';

@include mat-core();

// theme components
// book
@import 'app/book/components/book-header/book-header.component.scss-theme';
@import 'app/book/components/date-divider/date-divider.component.scss-theme';
@import 'app/book/components/transaction-item/transaction-item.component.scss-theme';
@import 'app/book/components/book-home/book-home.component.scss-theme';

// graph
@import 'app/graph/components/graph-chart-pie/graph-chart-pie.component.scss-theme';

// user
@import 'app/user/components/theme-selector/theme-selector.component.scss-theme';
@import 'app/user/components/user-home/user-home.component.scss-theme';
@import 'app/user/components/profile/profile.component.scss-theme';
@import 'app/user/components/manage-categories/manage-categories.component.scss-theme';
@import 'app/user/components/subscription-management/subscription-management.component.scss-theme';
@import 'app/user/components/category-editor/category-editor.component.scss-theme';

// message-center
@import 'app/message-center/components/message-thread-item/message-thread-item.component.scss-theme';

// shared
@import 'app/shared/components/nav-bar/nav-bar.component.scss-theme';
@import 'app/shared/components/type-switcher/type-switcher.component.scss-theme';
@import 'app/shared/components/nav-header/nav-header.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include app-theme-selector-component-theme($theme);
  @include app-nav-bar-component-theme($theme);
  @include app-book-header-component-theme($theme);
  @include app-date-divider-component-theme($theme);
  @include app-transaction-item-component-theme($theme);
  @include app-graph-chart-pie-component-theme($theme);
  @include app-user-home-component-theme($theme);
  @include app-profile-component-theme($theme);
  @include app-manage-categories-component-theme($theme);
  @include app-category-editor-component-theme($theme);
  @include app-type-switcher-component-theme($theme);
  @include app-subscription-management-component-theme($theme);
  @include app-nav-header-component-theme($theme);
  @include app-message-thread-item-component-theme($theme);
  @include app-book-home-component-theme($theme);
}

.cyberpunk-2077-theme {
  @include angular-material-theme($cyberpunk-2077-theme);
  @include custom-components-theme($cyberpunk-2077-theme);
}

.blade-runner-2049-theme {
  @include angular-material-theme($blade-runner-2049-theme);
  @include custom-components-theme($blade-runner-2049-theme);
}

.seasons-spring-theme {
  @include angular-material-theme($seasons-spring-theme);
  @include custom-components-theme($seasons-spring-theme);
}

.seasons-summer-theme {
  @include angular-material-theme($seasons-summer-theme);
  @include custom-components-theme($seasons-summer-theme);
}

.seasons-autumn-theme {
  @include angular-material-theme($seasons-autumn-theme);
  @include custom-components-theme($seasons-autumn-theme);
}

.seasons-winter-theme {
  @include angular-material-theme($seasons-winter-theme);
  @include custom-components-theme($seasons-winter-theme);
}


@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Light'), url('./assets/fonts/HelveticaNeue-Light.woff') format('woff');
}
//
//@font-face {
//  font-family: 'YouSheBiaoTiHei';
//  font-style: normal;
//  font-weight: normal;
//  src: url('./assets/fonts/youshebiaotihei-2-webfont.woff') format('woff'),
//       url('./assets/fonts/youshebiaotihei-2-webfont.woff2') format('woff2');
//}


@font-face {
  font-family: 'YouSheBiaoTiHei';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/YouSheBiaoTiHei-2.ttf') format('ttf'),
  url('./assets/fonts/YouSheBiaoTiHei-2.woff') format('woff'),
  url('./assets/fonts/YouSheBiaoTiHei-2.woff2') format('woff2');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  user-select: none;
}

* {
  box-sizing: border-box;
  overscroll-behavior: none !important;
}
