@use '@angular/material' as mat;

@mixin app-subscription-management-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .category-list {
    background: mat.get-color-from-palette($background, background);
  }

  .delete-button {
    background: mat.get-color-from-palette($background, card);
  }


  .subscription-details {
    .description-summary {
      .tag-ended-subscription {
        color: mat.get-color-from-palette($foreground, secondary-text);
        background: mat.get-color-from-palette($background, hover);
      }

      .quick-overview {
        color: mat.get-color-from-palette($foreground, secondary-text)
      }
    }

  }

  .draggable-subscription-item {
    background: mat.get-color-from-palette($background, card);
    color: mat.get-color-from-palette($foreground, text);

    .category-icon-background {
      background: mat.get-color-from-palette($background, app-bar);
    }

    i.md-drag_handle {
      color: mat.get-color-from-palette($foreground, secondary-text);
    }
  }

  .subscription-name-border {
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  .placeholder {
    color: transparent;
    background: mat.get-color-from-palette($background, background);
  }
}
