<!--<div class="loading" *ngIf="loading">-->
<!--  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
<!--</div>-->
<div class="manage-categories-container" #list>
  <div class="header">
    <div class="return-button">
      <i matRipple (click)="back()" class="material-icons md-keyboard_arrow_left"></i>
    </div>

    <app-type-switcher
      [types]="subscriptionTypes"
      (typeChanged)="changeSubscriptionType($event)">
    </app-type-switcher>

  </div>

  <div class="category-list">
    <div *ngFor="let subscription of allSubscriptions; last as last; index as index;"
         [ngStyle]="{'opacity': hasSubscriptionEnded(subscription.endDate) ? 0.5:1}">
      <app-swipeable-item
        [canSwipeRight]="!hasSubscriptionEnded(subscription.endDate)"
        [swipeRightIcon]="'timer_off'"
        (swipeResult)="onSwipe($event, subscription)">
        <div class="draggable-category-item" (click)="editSubscription(subscription)">
          <div class="category-icon">
            <div class="category-icon-background">
              <i class="material-icons-twotone"
                 [ngClass]="'md-' + categoryEntities[subscription.categoryId].icon"
                 [ngStyle]="{'color': categoryEntities[subscription.categoryId].color}"
              ></i>
            </div>
          </div>

          <div class="subscription-details" [ngClass]="{'category-name-border ': !last}">
            <div class="description-summary">
              <div>
                <span>{{getDescriptionDisplay(subscription)}}</span>
                <span class="tag-ended-subscription" *ngIf="hasSubscriptionEnded(subscription.endDate)">已结束</span>
              </div>
              <div class="summary">{{subscription.summary}}{{getDaysUntilNextDate(subscription)}}</div>
            </div>
            <div class="amount" [ngStyle]="{ 'color': subscription.amount > 0 ? 'green' : 'red' }">
              {{subscription.amount.toFixed(2)}}
            </div>
          </div>
        </div>
      </app-swipeable-item>
    </div>
  </div>

  <div class="float-add-button" cdkDrag>
    <button mat-fab (click)="addSubscription()">
      <i class="material-icons md-add"></i>
    </button>
  </div>
</div>
