<!--<div class="loading" *ngIf="loading">-->
<!--  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
<!--</div>-->
<div class="manage-categories-container" #list>
  <div class="header">
    <div class="return-button">
      <i matRipple (click)="back()" class="material-icons md-keyboard_arrow_left"></i>
    </div>

    <app-category-type-switcher (categoryTypeChanged)="changeCategoryType($event)"></app-category-type-switcher>

  </div>

  <div class="category-list">
    <div *ngFor="let subscription of allSubscriptions; last as last; index as index;">
      <app-swipeable-item (swipeResult)="stopSubscription($event, subscription)">
        <div class="draggable-category-item" (click)="editSubscription(subscription)">
          <div class="category-icon">
            <div class="category-icon-background">
              <i class="material-icons-twotone"
                 [ngClass]="'md-' + categoryEntities[subscription.categoryId].icon"
                 [ngStyle]="{'color': categoryEntities[subscription.categoryId].color}"
              ></i>
            </div>

          </div>

          <div class="subscription-details"  [ngClass]="{'category-name-border ': !last}">
            <div class="description-summary">
              <div>{{getDescriptionDisplay(subscription)}}</div>
              <div class="summary">{{subscription.summary}}</div>
            </div>
            <div class="amount">
              {{subscription.amount}}
            </div>
          </div>


        </div>
      </app-swipeable-item>
    </div>
  </div>

  <div class="float-add-button" cdkDrag>
    <button mat-fab (click)="add()">
      <i class="material-icons md-add"></i>
    </button>
  </div>
</div>
