<div class="container">
  <div class="title">
    <h1 mat-dialog-title>意见反馈</h1>
  </div>

  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline">
        <mat-label>反馈信息</mat-label>
        <textarea matInput formControlName="message" placeholder="反馈信息" rows="10"></textarea>
        <mat-error *ngIf="formGroup.controls['message'].hasError('required')">必填</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button mat-raised-button (click)="cancel()">取消</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="formGroup.invalid">提交</button>
  </mat-dialog-actions>

</div>
