@import '~@angular/material/theming';

$sunset-blue: (
  50: #EEEEEE,
  100: #C7C7C7,
  200: #ABABAB,
  300: #888888,
  400: #787878,
  500: #696969,
  600: #5A5A5A,
  700: #4A4A4A,
  800: #3B3B3B,
  900: #2C2C2C,
  A100: #EFE2E2,
  A200: #CC9F9F,
  A400: #957070,
  A700: #7C7070,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$sunset-orange: (
  50: #FFFFFF,
  100: #FEF2B7,
  200: #FCE980,
  300: #FBDC3A,
  400: #FAD71C,
  500: #F3CD05,
  600: #D5B404,
  700: #B79A04,
  800: #998103,
  900: #7B6803,
  A100: #FFFEF8,
  A200: #FFEE92,
  A400: #FFDD2C,
  A700: #FFD912,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$sunset-primary: mat-palette($sunset-blue);
$sunset-accent: mat-palette($sunset-orange);
$sunset-warn: mat-palette($mat-red);

$sunset-theme: mat-light-theme($sunset-primary, $sunset-accent, $sunset-warn);

$foreground: map-get($sunset-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: $dark-secondary-text;
$contrast-dividers-color: $dark-dividers;

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$sunset-theme: map_merge($sunset-theme, (foreground: $foreground));
