@import '~@angular/material/theming';

@include mat-core();

$blade-runner-2049-blue: (
  50: #FFFFFF,
  100: #FEFBF3,
  200: #F9E9BF,
  300: #F3D27E,
  400: #F1C862,
  500: #EEBE46,
  600: #EBB42A,
  700: #E2A715,
  800: #C69312,
  900: #AA7E10,
  A100: #FFFFFF,
  A200: #FFF1CE,
  A400: #FED369,
  A700: #F5C859,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$blade-runner-2049-pink: (
  50: #FCF1E7,
  100: #F8DCC2,
  200: #F4C49A,
  300: #EFAC72,
  400: #EB9B53,
  500: #E88935,
  600: #E58130,
  700: #E27628,
  800: #DE6C22,
  900: #D85916,
  A100: #FFFFFF,
  A200: #FFE3D6,
  A400: #FFC0A3,
  A700: #FFAE8A,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$blade-runner-2049-red: (
  50: #FFE0E8,
  100: #FFB3C5,
  200: #FF809E,
  300: #FF4D77,
  400: #FF2659,
  500: #FF003C,
  600: #FF0036,
  700: #FF002E,
  800: #FF0027,
  900: #FF001A,
  A100: #FFFFFF,
  A200: #FFF2F3,
  A400: #FFBFC3,
  A700: #FFA6AB,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$blade-runner-2049-primary: mat-palette($blade-runner-2049-blue);
$blade-runner-2049-accent: mat-palette($blade-runner-2049-pink);
$blade-runner-2049-warn: mat-palette($mat-red);

$blade-runner-2049-theme: mat-dark-theme($blade-runner-2049-primary, $blade-runner-2049-accent, $blade-runner-2049-warn);


// Insert custom background color
$foreground: map-get($blade-runner-2049-theme, foreground);

$contrast-text-color: white;
$contrast-secondary-text-color: $dark-secondary-text;
$contrast-dividers-color: $dark-dividers;

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$blade-runner-2049-theme: map_merge($blade-runner-2049-theme, (foreground: $foreground));
