@import '~@angular/material/theming';
$deeppurple-amber-primary: mat-palette($mat-deep-purple);
$deeppurple-amber-accent: mat-palette($mat-amber, A200, A100, A400);
$deeppurple-amber-warn: mat-palette($mat-red);

$deeppurple-amber-theme: mat-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent, $deeppurple-amber-warn);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: $dark-secondary-text;

$foreground: map-get($deeppurple-amber-theme, foreground);
$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color
));
$deeppurple-amber-theme: map_merge($deeppurple-amber-theme, (foreground: $foreground));
