@import '~@angular/material/theming';
$purple-green-primary: mat-palette($mat-purple);
$purple-green-accent: mat-palette($mat-green, A200, A100, A400);
$purple-green-warn: mat-palette($mat-red);

$purple-green-theme: mat-dark-theme(
    $purple-green-primary,
    $purple-green-accent,
    $purple-green-warn
);

$foreground: map-get($purple-green-theme, foreground);

$contrast-text-color: white;
$contrast-secondary-text-color: $light-secondary-text;
$contrast-dividers-color: $dark-dividers;

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$purple-green-theme: map_merge($purple-green-theme, (foreground: $foreground));
