@use '~@angular/material' as mat;

$seasons-spring-blue: (
  50: #EBF6E1,
  100: #C5E4A7,
  200: #A8D67C,
  300: #84C546,
  400: #75B438,
  500: #669D31,
  600: #57862A,
  700: #486E22,
  800: #39571B,
  900: #294014,
  A100: #E6FBD2,
  A200: #B2F275,
  A400: #7FD62B,
  A700: #73B631,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-spring-orange: (
  50: #FFFFFF,
  100: #EEF2D7,
  200: #DCE4AD,
  300: #C6D377,
  400: #BCCB60,
  500: #B2C449,
  600: #A2B43A,
  700: #8D9D33,
  800: #79862B,
  900: #646F24,
  A100: #FFFFFF,
  A200: #ECF7AF,
  A400: #CCDF61,
  A700: #BED057,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-spring-primary: mat.define-palette($seasons-spring-blue);
$seasons-spring-accent: mat.define-palette($seasons-spring-orange);
$seasons-spring-warn: mat.define-palette(mat.$red-palette);

$seasons-spring-theme: mat.define-light-theme($seasons-spring-primary, $seasons-spring-accent, $seasons-spring-warn);

$foreground: map-get($seasons-spring-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: rgba(black, 0.54);
$contrast-dividers-color: rgba(black, 0.12);

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$seasons-spring-theme: map_merge($seasons-spring-theme, (foreground: $foreground));
