@import '~@angular/material/theming';

$seasons-autumn-blue: (
  50: #FFFFFF,
  100: #F7DED5,
  200: #EEB9A5,
  300: #E38A69,
  400: #DE7650,
  500: #D96236,
  600: #CA5226,
  700: #B04821,
  800: #973D1C,
  900: #7D3318,
  A100: #FFFFFF,
  A200: #FEC1AA,
  A400: #EF7D53,
  A700: #E27046,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$seasons-autumn-orange: (
  50: #FFFFFF,
  100: #FFFFFF,
  200: #FEFDF2,
  300: #F7F3B1,
  400: #F5EE95,
  500: #F2EA79,
  600: #EFE65D,
  700: #EDE141,
  800: #EADD25,
  900: #DBCE15,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #FEF8A0,
  A700: #F7F08D,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$seasons-autumn-primary: mat-palette($seasons-autumn-blue);
$seasons-autumn-accent: mat-palette($seasons-autumn-orange);
$seasons-autumn-warn: mat-palette($mat-red);

$seasons-autumn-theme: mat-light-theme($seasons-autumn-primary, $seasons-autumn-accent, $seasons-autumn-warn);

$foreground: map-get($seasons-autumn-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: $dark-secondary-text;
$contrast-dividers-color: $dark-dividers;

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$seasons-autumn-theme: map_merge($seasons-autumn-theme, (foreground: $foreground));
