@import '~@angular/material/theming';

$seasons-winter-blue: (
  50: #FFFFFF,
  100: #D9E2EA,
  200: #B5C6D6,
  300: #87A3BC,
  400: #7494B1,
  500: #6085A6,
  600: #537694,
  700: #486681,
  800: #3D566D,
  900: #324759,
  A100: #FFFFFF,
  A200: #B4D1EB,
  A400: #729FC7,
  A700: #6B92B5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$seasons-winter-orange: (
  50: #FFFFFF,
  100: #FFFFFF,
  200: #FFFFFF,
  300: #EEF9FC,
  400: #D5F1F7,
  500: #BBE8F2,
  600: #A1DFED,
  700: #88D7E8,
  800: #6ECEE3,
  900: #54C5DE,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #E4F8FC,
  A700: #CFF0F7,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$seasons-winter-primary: mat-palette($seasons-winter-blue);
$seasons-winter-accent: mat-palette($seasons-winter-orange);
$seasons-winter-warn: mat-palette($mat-red);

$seasons-winter-theme: mat-light-theme($seasons-winter-primary, $seasons-winter-accent, $seasons-winter-warn);

$foreground: map-get($seasons-winter-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: $dark-secondary-text;
$contrast-dividers-color: $dark-dividers;

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$seasons-winter-theme: map_merge($seasons-winter-theme, (foreground: $foreground));
