@use '@angular/material' as mat;

$seasons-autumn-blue: (
  50: #FFFFFF,
  100: #F7DED5,
  200: #EEB9A5,
  300: #E38A69,
  400: #DE7650,
  500: #D96236,
  600: #CA5226,
  700: #B04821,
  800: #973D1C,
  900: #7D3318,
  A100: #FFFFFF,
  A200: #FEC1AA,
  A400: #EF7D53,
  A700: #E27046,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-autumn-orange: (
  50: #FFFFFF,
  100: #FFFFFF,
  200: #FEFDF2,
  300: #F7F3B1,
  400: #F5EE95,
  500: #F2EA79,
  600: #EFE65D,
  700: #EDE141,
  800: #EADD25,
  900: #DBCE15,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #FEF8A0,
  A700: #F7F08D,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-autumn-primary: mat.define-palette($seasons-autumn-blue);
$seasons-autumn-accent: mat.define-palette($seasons-autumn-orange);
$seasons-autumn-warn: mat.define-palette(mat.$red-palette);

$seasons-autumn-theme: mat.define-light-theme($seasons-autumn-primary, $seasons-autumn-accent, $seasons-autumn-warn);

$foreground: map-get($seasons-autumn-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: rgba(black, 0.54);
$contrast-dividers-color: rgba(black, 0.12);

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$seasons-autumn-theme: map_merge($seasons-autumn-theme, (foreground: $foreground));
