@use '@angular/material' as mat;

$seasons-summer-blue: (
  50: #E8F6FF,
  100: #9CD8FD,
  200: #65C2FC,
  300: #1FA6FB,
  400: #059AF7,
  500: #0487D9,
  600: #0374BB,
  700: #03629D,
  800: #024F7F,
  900: #023C61,
  A100: #DDF2FF,
  A200: #77CBFF,
  A400: #11A3FF,
  A700: #0098F6,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-summer-orange: (
  50: #FFFFFF,
  100: #FFFFFF,
  200: #FFFFFF,
  300: #FFFFFF,
  400: #F9F3EC,
  500: #F2E5D5,
  600: #EBD7BE,
  700: #E4C8A6,
  800: #DCBA8F,
  900: #D5AB78,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #FEFDFC,
  A700: #F9F1E8,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-summer-primary: mat.define-palette($seasons-summer-blue);
$seasons-summer-accent: mat.define-palette($seasons-summer-orange);
$seasons-summer-warn: mat.define-palette(mat.$red-palette);

$seasons-summer-theme: mat.define-light-theme($seasons-summer-primary, $seasons-summer-accent, $seasons-summer-warn);

$foreground: map-get($seasons-summer-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: rgba(black, 0.54);
$contrast-dividers-color: rgba(black, 0.12);

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$seasons-summer-theme: map_merge($seasons-summer-theme, (foreground: $foreground));
