@import '~@angular/material/theming';

$seasons-summer-blue: (
  50: #E8F6FF,
  100: #9CD8FD,
  200: #65C2FC,
  300: #1FA6FB,
  400: #059AF7,
  500: #0487D9,
  600: #0374BB,
  700: #03629D,
  800: #024F7F,
  900: #023C61,
  A100: #DDF2FF,
  A200: #77CBFF,
  A400: #11A3FF,
  A700: #0098F6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$seasons-summer-orange: (
  50: #FFFFFF,
  100: #FFFFFF,
  200: #FFFFFF,
  300: #FFFFFF,
  400: #F9F3EC,
  500: #F2E5D5,
  600: #EBD7BE,
  700: #E4C8A6,
  800: #DCBA8F,
  900: #D5AB78,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #FEFDFC,
  A700: #F9F1E8,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$seasons-summer-primary: mat-palette($seasons-summer-blue);
$seasons-summer-accent: mat-palette($seasons-summer-orange);
$seasons-summer-warn: mat-palette($mat-red);

$seasons-summer-theme: mat-light-theme($seasons-summer-primary, $seasons-summer-accent, $seasons-summer-warn);

$foreground: map-get($seasons-summer-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: $dark-secondary-text;
$contrast-dividers-color: $dark-dividers;

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$seasons-summer-theme: map_merge($seasons-summer-theme, (foreground: $foreground));
