@use '@angular/material' as mat;

$seasons-winter-blue: (
  50: #FFFFFF,
  100: #D9E2EA,
  200: #B5C6D6,
  300: #87A3BC,
  400: #7494B1,
  500: #6085A6,
  600: #537694,
  700: #486681,
  800: #3D566D,
  900: #324759,
  A100: #FFFFFF,
  A200: #B4D1EB,
  A400: #729FC7,
  A700: #6B92B5,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-winter-orange: (
  50: #FFFFFF,
  100: #FFFFFF,
  200: #FFFFFF,
  300: #EEF9FC,
  400: #D5F1F7,
  500: #BBE8F2,
  600: #A1DFED,
  700: #88D7E8,
  800: #6ECEE3,
  900: #54C5DE,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #E4F8FC,
  A700: #CFF0F7,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$seasons-winter-primary: mat.define-palette($seasons-winter-blue);
$seasons-winter-accent: mat.define-palette($seasons-winter-orange);
$seasons-winter-warn: mat.define-palette(mat.$red-palette);

$seasons-winter-theme: mat.define-light-theme($seasons-winter-primary, $seasons-winter-accent, $seasons-winter-warn);

$foreground: map-get($seasons-winter-theme, foreground);

$contrast-text-color: rgba(black, 0.87);
$contrast-secondary-text-color: rgba(black, 0.54);
$contrast-dividers-color: rgba(black, 0.12);

$foreground: map_merge($foreground, (
  contrast-text: $contrast-text-color,
  contrast-secondary-text: $contrast-secondary-text-color,
  contrast-dividers: $contrast-dividers-color
));

$seasons-winter-theme: map_merge($seasons-winter-theme, (foreground: $foreground));
