@import '~@angular/material/theming';
$test-primary: mat-palette('#3F51B5', '#C5CAE9', '#303F9F', '#FFFFFF');
$test-accent: mat-palette($mat-green, A200, A100, A400);
$test-warn: mat-palette($mat-red);

$test-theme: mat-dark-theme(
    $test-primary,
    $test-accent,
    $test-warn
);
