<div appPreventScroll class="book-header">

  <!-- 支出 -->
  <div class="month-summary-spend">
    <div class="spend">
      <div class="label">
        支出
      </div>
      <div class="amount">
        <span class="integer">{{monthSummary?.spend.toFixed(0)}}</span>
        <span class="decimal">.{{monthSummary?.spend.toFixed(2).slice(-2)}}</span>
      </div>
    </div>
  </div>


  <!--  收入，结余，剩余预算-->
  <div class="month-summary-other">
    <div class="income">
      <div class="label">
        收入
      </div>
      <div class="amount">
        <span class="integer">{{monthSummary?.income.toFixed(0)}}</span>
        <span class="decimal">.{{monthSummary?.income.toFixed(2).slice(-2)}}</span>
      </div>
    </div>

    <div class="balance">
      <div class="label">
        结余
      </div>
      <div class="amount">
        <span class="integer">{{balance.toFixed(0)}}</span>
        <span class="decimal">.{{balance.toFixed(2).slice(-2)}}</span>
      </div>
    </div>
  </div>


  <div class="year-month">
    <div class="label">
      {{displayMonth | date:'yyyy年'}}
    </div>
    <div class="month-group" (click)="changeMonth()">
      <div class="month-number">{{displayMonth | date:'MM'}}</div>
      <div class="month">月</div>
      <i class="material-icons md-arrow_drop_down"></i>
    </div>
  </div>

</div>

