div {
  display: flex;
}

.book-header {
  z-index: 2;
  padding-top: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
}

.title-bar {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;

  .logo, .title, .quick-tools {
    flex-grow: 1;
  }

  .logo {
    justify-content: flex-start;
    padding-left: 1rem;
    width: 20%;

    img {
      height: 40px;
    }
  }

  .title {
    justify-content: center;
    width: 60%;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Yuanti SC", sans-serif;
  }

  .quick-tools {
    padding-right: 1rem;
    justify-content: flex-end;
    width: 20%;

    i {
      font-size: 2rem;
      width: unset;
      height: unset;
    }
  }
}

.monthly-overview {
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 0.5rem;

  .year-month, .income, .spend {
    flex-direction: column;
  }

  .income, .spend {
    flex-grow: 4;
    justify-content: space-between;
  }

  .label {
    font-size: 0.8rem;
  }

  .year-month {
    flex-grow: 1;
    padding-left: 1rem;
    justify-content: space-between;

    .month-group {
      flex-direction: row;
      align-items: baseline;
    }

    .month-number {
      font-size: 1.5rem;
    }

    i {
      width: unset;
      height: unset;
      font-size: 2rem;
      align-self: flex-end;
    }
  }

  .amount {
    align-items: baseline;
    font-size: 1.5rem;

    .decimal {
      font-size: 1rem;
    }
  }

  .income {
    padding-left: 2rem;
  }
}
