<div appPreventScroll class="book-header">
  <div class="title-bar">
    <div class="logo">
      <img src="../../../../assets/images/tarantula.png" alt="Tarantula Logo">
    </div>
    <div class="title">
      狼蛛记账
    </div>
    <div class="quick-tools">
      <i class="material-icons md-search"></i>
    </div>
  </div>

  <div class="monthly-overview">
    <div class="year-month">
      <div class="label">
        {{displayMonth | date:'yyyy年'}}
      </div>
      <div class="month-group" (click)="changeMonth()">
        <div class="month-number">{{displayMonth | date:'MM'}}</div>
        <div class="month">月</div>
        <i class="material-icons md-arrow_drop_down"></i>
      </div>
    </div>

    <div class="income">
      <div class="label">
        收入
      </div>
      <div class="amount">
        <span>{{monthSummary?.income.toFixed(0)}}</span>
        <span class="decimal">.{{monthSummary?.income.toFixed(2).slice(-2)}}</span>
      </div>
    </div>

    <div class="spend">
      <div class="label">
        支出
      </div>
      <div class="amount">
        <span>{{monthSummary?.spend.toFixed(0)}}</span>
        <span class="decimal">.{{monthSummary?.spend.toFixed(2).slice(-2)}}</span>
      </div>
    </div>
  </div>
</div>

