<div appPreventScroll class="book-header">
  <div class="tool-bar">
    <div class="chart">
      <i class="material-icons md-timeline" style="opacity: 0;"></i>
    </div>

    <div class="month">
      <i class="material-icons md-play_arrow"
         style="transform: rotate(180deg);"
         (click)="previousMonth()"
      ></i>

      <span (click)="changeMonth()">{{displayMonth | date:'yyyy年MM月'}}</span>

      <i class="material-icons md-play_arrow"
         (click)="nextMonth()"
      ></i>
    </div>

    <div class="search" (click)="search()">
      <i class="material-icons md-search"></i>
    </div>

  </div>

  <div class="monthly-spend">
    <div class="label">
      支出
    </div>
    <div class="spend-amount">
      <span class="integer">{{monthSummary?.spend.toFixed(0)}}</span>
      <span class="decimal">.{{monthSummary?.spend.toFixed(2).slice(-2)}}</span>
    </div>
  </div>

  <div class="monthly-overview">
    <div class="overview income">
      <div class="label">
        收入
      </div>
      <div class="amount">
        <span class="integer">{{monthSummary?.income.toFixed(0)}}</span>
        <span class="decimal">.{{monthSummary?.income.toFixed(2).slice(-2)}}</span>
      </div>
    </div>

    <div class="overview balance">
      <div class="label">
        结余
      </div>
      <div class="amount">
        <span class="integer">{{balance.toFixed(0)}}</span>
        <span class="decimal">.{{balance.toFixed(2).slice(-2)}}</span>
      </div>
    </div>
  </div>

  <div class="cyberpunk-2077-theme-header-bg">
    <div class="cp-logo"></div>
    <div class="cp-texture"></div>
    <div class="cp-bg"></div>
  </div>
</div>

