@import '~@angular/material/theming';

@mixin app-book-header-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .book-header {
    background: mat-color($primary);

    .title-bar {
      .title, .quick-tools {
        color: mat-color($primary, default-contrast);
      }
    }

    .monthly-overview {
      color: mat-color($primary, default-contrast);

      .label {
        color: mat-color($foreground, contrast-secondary-text);
      }

      .year-month {
        .month-group {
          border-right: 1px solid mat-color($primary, default-contrast);
        }
      }
    }
  }
}
