@import '~@angular/material/theming';

@mixin app-book-header-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .book-header {
    background: mat-color($primary);
    .monthly-overview {
      .label {
        color: mat-color($foreground, secondary-text);
      }

      .year-month {
        .month-group {
          border-right: 1px solid mat-color($foreground, text);;
        }
      }
    }
  }



}
