div {
  display: flex;
}

.book-header {
  z-index: 2;
  position: fixed;
  width: 100%;
  flex-direction: column;
}

.tool-bar {
  justify-content: space-between;
  margin: 0.5rem 1rem 0.5rem 1rem;

  .month {
    align-items: center;

    i {
      font-size: 1rem;
      padding-right: 2rem;
    }
    span {
      font-size: 1.2rem;
    }
  }
}

.monthly-spend {
  flex-direction: column;
  flex-grow: 1;
  margin: 0.5rem 1rem 0.5rem 1rem;

  .label {
    align-items: baseline;

    i {
      position: relative;
      top: 3px;
      font-size: 1.3rem;
    }
  }

  .spend-amount {
    font-size: 2rem;
  }
}

.monthly-overview {
  flex-direction: row;
  justify-content: start;
  margin: 0 1rem 0.5rem 1rem;

  .overview {
    flex-direction: column;
    width: 33%;
  }
}

.label {
  font-size: 0.8rem;
}

//.cyberpunk-2077-theme-header-bg {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  z-index: -5;
//
//  .cp-logo {
//    position: absolute;
//    width: 100px;
//    height: 100%;
//    bottom: 0.4rem;
//    right: 0.4rem;
//
//    background-image: url("../../../../assets/images/cyberpunk-logo.png");
//    background-size: contain;
//    background-position-x: right;
//    background-position-y: bottom;
//    background-repeat: no-repeat;
//  }
//
//  .cp-texture {
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    background-image: url("../../../../assets/images/cyberpunk-texture.svg");
//    background-size: contain;
//    background-position-x: right;
//    background-position-y: bottom;
//    background-repeat: no-repeat;
//  }
//
//  .cp-bg {
//    height: 100%;
//    width: 100%;
//    position: absolute;
//    background-image: url("../../../../assets/images/cyberpunk-buildings-bg.png");
//  }
//}
